@define-color black #282828;
@define-color grey #928374;
@define-color white #ebdbb2;
@define-color text #1d2021;
@define-color purple #b16286;
@define-color inactive #504945;
@define-color red #fb4934;
@define-color green #8ec07c;
@define-color orange #fe8019;
@define-color yellow #fabd2f;

@keyframes blink-warning {
  70% {
    color: @white;
  }

  to {
    color: @white;
    background-color: @red;
  }
}

/* GENERAL */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

#waybar {
  color: @text;
	background: @black;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

/** MODULES **/
#window {
  font-weight: bold;
  color: @white;
}

#custom-weather {
  background: @yellow;
  padding-left: 8px;
  padding-right: 8px;
}

#network {
  background: @orange;
  padding-left: 8px;
  padding-right: 8px;
}

#memory,#cpu {
  background: @red;
  padding-left: 8px;
  padding-right: 8px;
}

#clock {
  background: @green;
  padding-left: 8px;
  padding-right: 8px;
}

#tray {
  padding-left: 8px;
  padding-right: 8px;
}

#mode {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
  background: @grey;
  color: @white;
}

/** ARROWS **/
#custom-arrow1 {
  color: @yellow;
  font-size: 16pt;
}

#custom-arrow2 {
  color: @orange;
  background: @yellow;
  font-size: 16pt;
}

#custom-arrow3 {
  color: @red;
  background: @orange;
  font-size: 16pt;
}

#custom-arrow4 {
  color: @green;
  background: @red;
  font-size: 16pt;
}

#custom-arrow5 {
  color: @black;
  background: @green;
  font-size: 16pt;
}

/** WORKSPACES **/
#workspaces button {
  border-top: 2px solid transparent;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: @inactive;

}

#workspaces button.focused {
  color: @white;
  background-color: @purple;
}

#workspaces button.urgent {
  animation-name: blink-warning;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
